@{ 
    var rules = (List<string>)Session["rules"];

     if (rules == null)
    {
        rules = new List<string>();
    }

    if (IsPost)
    {
        rules.Add(Request.Form["text"]);
        Session["rules"] = rules;
    }

    Response.Redirect("Rules_get.cshtml");
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

</body>
</html>
